- name: Backup AdGuardHome directory from remote server to localhost
  hosts: adguard
  become: true

  vars:
    adguard_dir: /opt/adguardhome
    local_backup_dir: "/tmp/backups/adguard"
    ssh_password: "zaq12wsx"

  tasks:

    - name: Ensure local backup directory exists on controller
      delegate_to: local
      file:
        path: "{{ local_backup_dir }}"
        state: directory
        mode: "0755"
    - name: Create tarball of AdGuardHome
      archive:
        path: /opt/adguardhome
        dest: /tmp/adguard_backup.tar.gz
        format: gz
    - name: Store file 
      ansible.builtin.fetch:
        src: /tmp/adguard_backup.tar.gz
        dest: /tmp/backups




