---
- name: Playbook 4 - Konfiguracja Puli Dyskowej i Udziału Sieciowego
  hosts: winsrv
  gather_facts: yes

  vars:
    ssd: "ssd_disks"
    hdd: "hdd_disks"
    pool_name: "Pool_Dyskowy"
    disk_name: "VD_Projekty"
    rozmiar: "10GB"
    volume_letter: "F"
    share_name: "Projekty_langier"
    folder_path: "F:\\Projekty"
    group: "Kierownicy_langier"

    users:
      - { name: "mromanek", fullname: "Marek Romanek", password: "Zaq12wsx" }
      - { name: "jgula", fullname: "Jacek Gula", password: "Zaq12wsx" }

    winget_apps:
      - "7zip.7zip"
      - "Mozilla.Firefox"
      - "ISC.Dig"

  tasks:


    - name: Sprawdź czy pula dyskowa istnieje
      ansible.windows.win_powershell:
        script: |
          Get-StoragePool -FriendlyName "{{ pool_name }}" -ErrorAction SilentlyContinue
      register: pool
      changed_when: false

    - name: Utwórz pulę dyskową jeśli nie istnieje
      ansible.windows.win_powershell:
        script: |
          New-StoragePool -FriendlyName "{{ pool_name }}" `
                          -StorageSubsystemFriendlyName "Windows Storage*" `
                          -PhysicalDisks (Get-PhysicalDisk -CanPool $true)
      when: pool.output == []

    - name: Utwórz warstwę SSD jeśli nie istnieje
      ansible.windows.win_powershell:
        script: |
          if (-not (Get-StorageTier -FriendlyName "{{ ssd }}" -ErrorAction SilentlyContinue)) {
            New-StorageTier -StoragePoolFriendlyName "{{ pool_name }}" `
                            -FriendlyName "{{ ssd }}" `
                            -MediaType SSD
          }
      changed_when: false

    - name: Utwórz warstwę HDD jeśli nie istnieje
      ansible.windows.win_powershell:
        script: |
          if (-not (Get-StorageTier -FriendlyName "{{ hdd }}" -ErrorAction SilentlyContinue)) {
            New-StorageTier -StoragePoolFriendlyName "{{ pool_name }}" `
                            -FriendlyName "{{ hdd }}" `
                            -MediaType HDD
          }
      changed_when: false

    - name: Sprawdź czy wirtualny dysk istnieje
      ansible.windows.win_powershell:
        script: |
          Get-VirtualDisk -FriendlyName "{{ disk_name }}" -ErrorAction SilentlyContinue
      register: vd
      changed_when: false

    - name: Utwórz wirtualny dysk jeśli nie istnieje
      ansible.windows.win_powershell:
        script: |
          $ssd = Get-StorageTier -FriendlyName "{{ ssd }}"
          $hdd = Get-StorageTier -FriendlyName "{{ hdd }}"
          New-VirtualDisk -StoragePoolFriendlyName "{{ pool_name }}" `
                          -FriendlyName "{{ disk_name }}" `
                          -ResiliencySettingName Mirror `
                          -ProvisioningType Fixed `
                          -StorageTiers $ssd, $hdd `
                          -StorageTierSizes {{ rozmiar }}, {{ rozmiar }}
      when: vd.output == []

    - name: Pobierz informacje o dysku
      ansible.windows.win_powershell:
        script: |
          Get-VirtualDisk -FriendlyName "{{ disk_name }}" | Get-Disk
      register: disk
      changed_when: false

    - name: Zainicjuj dysk GPT jeśli trzeba
      ansible.windows.win_powershell:
        script: |
          Initialize-Disk -Number {{ disk.output[0].Number }} -PartitionStyle GPT
      when: disk.output[0].PartitionStyle == 0

    - name: Utwórz partycję i sformatuj ReFS jeśli brak partycji
      ansible.windows.win_powershell:
        script: |
          if (-not (Get-Partition -DiskNumber {{ disk.output[0].Number }} | Where-Object DriveLetter -eq "{{ volume_letter }}")) {
            $p = New-Partition -DiskNumber {{ disk.output[0].Number }} -UseMaximumSize -DriveLetter {{ volume_letter }}
            Format-Volume -Partition $p -FileSystem ReFS -Confirm:$false
          }

    - name: Utwórz grupę
      ansible.windows.win_group:
        name: "{{ group }}"
        state: present

    - name: Tworzenie użytkowników
      ansible.windows.win_user:
        name: "{{ item.name }}"
        fullname: "{{ item.fullname }}"
        password: "{{ item.password }}"
        state: present
        groups:
          - "{{ group }}"
      loop: "{{ users }}"

    - name: Utwórz katalog Projekty
      ansible.windows.win_file:
        path: "{{ folder_path }}"
        state: directory

    - name: Udostępnij udział
      ansible.windows.win_share:
        name: "{{ share_name }}"
        path: "{{ folder_path }}"
        description: "Udział projektów"
        full: "{{ group }}"

    - name: Instalacja aplikacji winget
      ansible.windows.win_shell: |
        if (-not (winget list --id {{ item }} --disable-interactivity | Select-String {{ item }})) {
          winget install --id {{ item }} -e --silent --disable-interactivity `
                --accept-source-agreements --accept-package-agreements
        }
      loop: "{{ winget_apps }}"

