---
- name: Playbook 4 - Konfiguracja Puli Dyskowej i Udziału Sieciowego
  hosts: windows
  gather_facts: yes
  vars:
    storage_pool_name: "Pool_Dyskowy"
    virtual_disk_name: "VD_Projekty"
    volume_letter: "F"
    share_name: "Projekty_langier"
    folder_path: "F:\\Projekty"
    security_group: "Kierownicy_langier"
    users:
      - { name: "Marek Romanek", password: "Zaq12wsx" }
      - { name: "Jacek Gula", password: "Zaq12wsx" }
    winget_apps:
      - "7zip.7zip"
      - "Firefox.Firefox"
      - "ISC.Dig"

  tasks:

  - name: Utwórz pulę dyskową z automatycznym tieringiem
    win_storagepool:
      name: "{{ storage_pool_name }}"
      state: present
      physical_disks: "all"
      auto_tiering: yes

  - name: Utwórz wirtualny dysk z mirroringiem obejmujący całą pulę
    win_virtualdisk:
      name: "{{ virtual_disk_name }}"
      storage_pool: "{{ storage_pool_name }}"
      size: max
      provisioning_type: fixed
      resiliency_setting_name: mirror
      state: present

  - name: Sformatuj dysk w ReFS i przypisz literę
    win_volume:
      drive_letter: "{{ volume_letter }}"
      file_system: ReFS
      disk: "{{ virtual_disk_name }}"
      state: present

  - name: Utwórz grupę zabezpieczeń
    win_group:
      name: "{{ security_group }}"
      state: present

  - name: Utwórz użytkowników
    win_user:
      name: "{{ item.name }}"
      password: "{{ item.password }}"
      state: present
      groups:
        - "{{ security_group }}"
    loop: "{{ users }}"

  - name: Utwórz folder Projekty na dysku F
    win_file:
      path: "{{ folder_path }}"
      state: directory

  - name: Udostępnij folder w sieci
    win_share:
      name: "{{ share_name }}"
      path: "{{ folder_path }}"
      description: "Udział projektów"
      full_access: "{{ security_group }}"

  - name: Zainstaluj aplikacje przez winget
    win_package:
      name: "{{ item }}"
      state: present
      source: winget
    loop: "{{ winget_apps }}"

