- name: Backup AdGuardHome directory from remote server to localhost
  hosts: adguard
  become: true

  vars:
    adguard_dir: /opt/adguardhome
    local_backup_dir: "/tmp/backups/adguard"
    ssh_password: "zaq12wsx"

  tasks:

    - name: Ensure local backup directory exists on controller
      delegate_to: local
      file:
        path: "{{ local_backup_dir }}"
        state: directory
        mode: "0755"
    - name: Copy AdGuardHome folder to localhost via scp
      command: >
        sshpass -p "{{ ssh_password }}"
        scp -r debian13@10.0.2.9:/opt/adguardhome /tmp/backups/adguardhome



